In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
t=pd.read_csv("CombinedData.csv")

In [3]:
t.head()

,city,year,price_per_sqft,monthly_rental_price,forecast_YoY_pct_change,latitude,longitude,population_density,violent_crimes,violent_crime_rate,...,housing_increase_units,housing_increase_pct,single_detached,single_attached,two_to_four_units,five_plus_units,mobile_homes,vacancy_rate_pct,persons_per_household,ndxt_yr_open_price
0,Antioch,2010,109,0,0.0,38.0049,-121.8058,0.0,0,0.0,...,0,NaN,26884,1707,1474,4382,402,0.074522,3.154,1152.610
1,Antioch,2011,102,1645,0.0,38.0049,-121.8058,0.0,0,0.0,...,99,0.002841,26975,1707,1474,4390,402,0.064725,3.157,1397.080
2,Antioch,2012,106,1639,0.0,38.0049,-121.8058,0.0,0,0.0,...,93,0.002661,27077,1707,1471,4384,402,0.052196,3.170,1330.000
3,Antioch,2013,144,1682,0.0,38.0049,-121.8058,0.0,0,0.0,...,237,0.006764,27314,1707,1471,4384,402,0.052185,3.196,1427.910
4,Antioch,2014,165,1795,0.0,38.0049,-121.8058,0.0,0,0.0,...,204,0.005783,27518,1707,1471,4384,402,0.049264,3.220,1897.309

In [4]:
t.fillna(0, inplace=True)
t.head()

,city,year,price_per_sqft,monthly_rental_price,forecast_YoY_pct_change,latitude,longitude,population_density,violent_crimes,violent_crime_rate,...,housing_increase_units,housing_increase_pct,single_detached,single_attached,two_to_four_units,five_plus_units,mobile_homes,vacancy_rate_pct,persons_per_household,ndxt_yr_open_price
0,Antioch,2010,109,0,0.0,38.0049,-121.8058,0.0,0,0.0,...,0,0.000000,26884,1707,1474,4382,402,0.074522,3.154,1152.610
1,Antioch,2011,102,1645,0.0,38.0049,-121.8058,0.0,0,0.0,...,99,0.002841,26975,1707,1474,4390,402,0.064725,3.157,1397.080
2,Antioch,2012,106,1639,0.0,38.0049,-121.8058,0.0,0,0.0,...,93,0.002661,27077,1707,1471,4384,402,0.052196,3.170,1330.000
3,Antioch,2013,144,1682,0.0,38.0049,-121.8058,0.0,0,0.0,...,237,0.006764,27314,1707,1471,4384,402,0.052185,3.196,1427.910
4,Antioch,2014,165,1795,0.0,38.0049,-121.8058,0.0,0,0.0,...,204,0.005783,27518,1707,1471,4384,402,0.049264,3.220,1897.309

In [5]:
#start index from 1 instead of 0
t.index += 1
#reset index
t.reset_index(drop=False, inplace=True)

In [6]:
#rename 'index' column to 'id'
t.rename(columns={'index':'id'}, inplace=True)

In [7]:
#t.drop(t.columns[19], axis=1, inplace=True)

In [8]:
t.head()

,id,city,year,price_per_sqft,monthly_rental_price,forecast_YoY_pct_change,latitude,longitude,population_density,violent_crimes,...,housing_increase_units,housing_increase_pct,single_detached,single_attached,two_to_four_units,five_plus_units,mobile_homes,vacancy_rate_pct,persons_per_household,ndxt_yr_open_price
0,1,Antioch,2010,109,0,0.0,38.0049,-121.8058,0.0,0,...,0,0.000000,26884,1707,1474,4382,402,0.074522,3.154,1152.610
1,2,Antioch,2011,102,1645,0.0,38.0049,-121.8058,0.0,0,...,99,0.002841,26975,1707,1474,4390,402,0.064725,3.157,1397.080
2,3,Antioch,2012,106,1639,0.0,38.0049,-121.8058,0.0,0,...,93,0.002661,27077,1707,1471,4384,402,0.052196,3.170,1330.000
3,4,Antioch,2013,144,1682,0.0,38.0049,-121.8058,0.0,0,...,237,0.006764,27314,1707,1471,4384,402,0.052185,3.196,1427.910
4,5,Antioch,2014,165,1795,0.0,38.0049,-121.8058,0.0,0,...,204,0.005783,27518,1707,1471,4384,402,0.049264,3.220,1897.309

In [9]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 29 columns):
id                         108 non-null int64
city                       108 non-null object
year                       108 non-null int64
price_per_sqft             108 non-null int64
monthly_rental_price       108 non-null int64
forecast_YoY_pct_change    108 non-null float64
latitude                   108 non-null float64
longitude                  108 non-null float64
population_density         108 non-null float64
violent_crimes             108 non-null int64
violent_crime_rate         108 non-null float64
property_crime             108 non-null int64
property_crime_rate        108 non-null float64
population                 108 non-null int64
population_increase        108 non-null int64
population_increase_pct    108 non-null float64
total_homes                108 non-null int64
occupied_homes             108 non-null int64
unoccupied_homes           108 non-null int64
housing_increase_units     108 non-null int64
housing_increase_pct       108 non-null float64
single_detached            108 non-null int64
single_attached            108 non-null int64
two_to_four_units          108 non-null int64
five_plus_units            108 non-null int64
mobile_homes               108 non-null int64
vacancy_rate_pct           108 non-null float64
persons_per_household      108 non-null float64
ndxt_yr_open_price         108 non-null float64
dtypes: float64(11), int64(17), object(1)
memory usage: 24.5+ KB

In [10]:
#Use declarative_base and create ORM classes for each table.
class DataSet(Base):
    __tablename__='dataset'
    id=Column(Integer, primary_key=True)
    city=Column(String)
    year=Column(String)
    price_per_sqft=Column(Integer)
    monthly_rental_price=Column(Integer)
    forecast_YoY_pct_change=Column(Float)
    latitude=Column(Float)
    longitude=Column(Float)
    population_density=Column(Float)
    violent_crimes=Column(Integer)
    violent_crime_rate=Column(Float)
    property_crime=Column(Integer)
    property_crime_rate=Column(Float)
    population=Column(Integer)
    population_increase=Column(Integer)
    population_increase_pct=Column(Float)
    total_homes=Column(Integer)
    occupied_homes=Column(Integer)
    unoccupied_homes=Column(Integer)
    housing_increase_units=Column(Integer)
    housing_increase_pct=Column(Float)
    single_detached=Column(Integer)
    single_attached=Column(Integer)
    two_to_four_units=Column(Integer)
    five_plus_units=Column(Integer)
    mobile_homes=Column(Integer)
    vacancy_rate_pct=Column(Float)
    persons_per_household=Column(Float)
    ndxt_yr_open_price=Column(Float)

In [11]:
#Use the engine and connection string to create a database called hawaii.sqlite
engine = create_engine("sqlite:///project.sqlite")

In [12]:
#Once you have your ORM classes defined, create the tables in the database using create_all
Base.metadata.create_all(engine)

In [13]:
engine.table_names()

['dataset']

In [14]:
#connect to the database
conn=engine.connect()

In [15]:
#call the to_sql method to convert df to a table in a database.
#set the 'keep_exists'='append' to  insert data into existing tabels.

t.to_sql("dataset", conn, if_exists="append", index=False)

In [16]:
#We can then verify that everything works by querying the database
engine.execute("select * from dataset limit 10").fetchall()

[(1, 'Antioch', '2010', 109, 0, 0.0, 38.0049, -121.8058, 0.0, 0, 0.0, 0, 0.0, 101708, 0, 0.0, 34849, 32252, 2597, 0, 0.0, 26884, 1707, 1474, 4382, 402, 0.074521507, 3.154, 1152.61),
 (2, 'Antioch', '2011', 102, 1645, 0.0, 38.0049, -121.8058, 0.0, 0, 0.0, 0, 0.0, 103204, 1496, 0.014708773999999999, 34948, 32686, 2262, 99, 0.0028408279999999997, 26975, 1707, 1474, 4390, 402, 0.064724734, 3.157, 1397.08),
 (3, 'Antioch', '2012', 106, 1639, 0.0, 38.0049, -121.8058, 0.0, 0, 0.0, 0, 0.0, 105287, 2083, 0.020183326, 35041, 33212, 1829, 93, 0.002661096, 27077, 1707, 1471, 4384, 402, 0.05219599900000001, 3.17, 1330.0),
 (4, 'Antioch', '2013', 144, 1682, 0.0, 38.0049, -121.8058, 0.0, 0, 0.0, 0, 0.0, 106880, 1593, 0.015130073, 35278, 33437, 1841, 237, 0.006763506, 27314, 1707, 1471, 4384, 402, 0.052185498, 3.196, 1427.91),
 (5, 'Antioch', '2014', 165, 1795, 0.0, 38.0049, -121.8058, 0.0, 0, 0.0, 0, 0.0, 108611, 1731, 0.016195734, 35482, 33734, 1748, 204, 0.005782641, 27518, 1707, 1471, 4384, 402, 0.049264416, 3.22, 1897.309),
 (6, 'Antioch', '2015', 179, 1881, 0.0, 38.0049, -121.8058, 0.0, 0, 0.0, 0, 0.0, 110034, 1423, 0.013101804, 35750, 33988, 1762, 268, 0.007553125999999999, 27786, 1707, 1471, 4384, 402, 0.049286712999999996, 3.237, 2379.034),
 (7, 'Antioch', '2016', 199, 1925, 0.0, 38.0049, -121.8058, 0.0, 0, 0.0, 0, 0.0, 111513, 1479, 0.013441299999999998, 35822, 34272, 1550, 72, 0.002013986, 27858, 1707, 1471, 4384, 402, 0.043269499, 3.2539999999999996, 2261.126),
 (8, 'Antioch', '2017', 223, 2046, 0.0, 38.0049, -121.8058, 0.0, 0, 0.0, 0, 0.0, 111616, 103, 0.000923659, 35860, 34019, 1841, 38, 0.001060801, 27896, 1707, 1471, 4384, 402, 0.051338539, 3.281, 2890.724),
 (9, 'Antioch', '2018', 248, 2160, 12.71635611, 38.0049, -121.8058, 3820.1, 849, 7.84, 4190, 38.72, 112397, 781, 0.006997205, 35882, 34041, 1841, 22, 0.000613497, 27918, 1707, 1471, 4384, 402, 0.051307062, 3.302, 3943.097),
 (10, 'Berkeley', '2010', 439, 0, 0.0, 37.8716, -122.2727, 0.0, 0, 0.0, 0, 0.0, 99731, 0, 0.0, 49454, 46029, 3425, 0, 0.0, 20924, 2060, 9980, 16272, 218, 0.069256279, 2.167, 1152.61)]